

/* General */
html {
  font-size: 11px;
}

.container img {
  display: block;
  width: 85%;
  margin: auto;
}

.container img.image-60 {
  width: 60%;
}

/* Index */
.hero {
  height: 150px;
  padding-top: 60px;
  text-align: center;
}

.lead {
  font-size: 2.1rem;
  font-weight: 200;
  color: #999;
}

/* Context */
.table-of-contents li {
  list-style: none;
}

/* Page */
.header {
  border-bottom: solid 1px #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header a {
  text-decoration: none;
  margin-left: 5px;
  color: #444;
  font-weight: bold;
  font-variant: small-caps;

}

.header .right-side {
  text-align: right;
}

.content {
  padding-top: 40px;
}
