<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>

<body>

  <div class="container header">
    <div class="row">
      <div class="six columns left-side">
        <a href="{{ site.baseurl }}/">home</a>
      </div>
      <div class="six columns right-side">
        <a href="{{ site.baseurl }}/pages/about">about</a>
      </div>
    </div>

  </div>

  <div class="container content">
    {{content}}
  </div>
</body>

</html>
